
.root-container {
	-fx-background-color: white;
}

.titleLabel {
    -fx-font-family: "Roboto";
    -fx-font-size: 50;
    -fx-font-weight: bold;
    -fx-text-fill: #F0CFA6;
    
}

.subtitleLabel {
    -fx-font-family: "Italiana";
    -fx-font-size:20 ;
    -fx-text-fill: #E7BD87;
}

.text-field{
 -fx-pref-width: 403px;
    -fx-max-width: 403px;
    -fx-min-width: 403px;  
    -fx-font-size: 14px;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
 .combo-box {
 	 -fx-pref-width: 403px;
    -fx-max-width: 403px;
    -fx-min-width: 403px;
    -fx-font-size: 14px;
    -fx-background-radius: 30;  
    -fx-border-radius: 30;
}

.input-container {
    -fx-padding: 14px;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}


.signup-button {
    -fx-background-color: #757F6E;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
    -fx-background-radius: 30;
}

/* Hover sur le bouton */
.signup-button:hover {
    -fx-background-color: #5e6459;
}
